<!DOCTYPE html>
<html>
	<head>
        <title>99.co</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
	<body>
		<div id="mainWrapper">
			<div id="districtFilterContainer" class="inline">
				<div id="districtFilterHeader">
					<h2>All Districts in Singapore</h2>
				</div>
				<div id="allDistrictFilters"></div>
			</div>
			<div id="mapContainer" class="inline">
				<div id="mapHeader">
					<h2>Find Awesome Restaurants within a District</h2>
				</div>
				<div id="map"></div>
			</div>
		</div>

		<script id="districtElement" type="text/template">
			<input type="checkbox" class="districtFilter" value="<%= id%>">
	        <label><%= title%></label>
		</script>

		<script src="js/libs/jquery.js"></script>
		<script src="js/libs/underscore-min.js"></script>
		<script src="js/libs/backbone-min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYsz7IS6WBN67y73NgQJNhohhn3GNjIHE&signed_in=true&libraries=places,geometry&callback=initMap" async defer></script>
		<script src="js/models/singleDistrictModel.js"></script>
		<script src="js/views/singleDistrictView.js"></script>
		<script src="js/views/mapView.js"></script>
		<script src="js/views/allDistrictView.js"></script>
		<script src="js/collections/allDistrictCollection.js"></script>
		<script src="js/data.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>