*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #E6E6E6;
}

#mainWrapper{
    margin: 0px auto;
    padding: 15px 20px 15px 80px;
}

#districtFilterContainer{
    width:300px;
}

#districtFilterHeader,#mapHeader{
    margin-bottom: 10px;
}

#map{
    height: 600px;
    width: 800px;
}

.district{
    width:270px;
    font-size: 14px;
    margin: 2px 5px 2px 0px;
}

.inline{
    display: inline-block;
    vertical-align: top;
}